.container_create_employee {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header_create_employee {
  display: flex;
  align-items: center;
  width: 350px;
  justify-content: space-between;
  margin: 20px 0 50px 0;
}

form {
  width: 300px;
  margin-top: 30px;
}

fieldset {
  padding: 10px 20px 0 20px;
}

legend {
  margin-left: 20px;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-bottom: 20px;
}

.input-wrapper label {
  margin-bottom: 10px;
  font-size: 1.2em;
}

.input-wrapper input {
  padding: 5px;
  font-size: 1.2rem;
}