.container_create_employee {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header_create_employee {
  display: flex;
  align-items: center;
  width: 350px;
  justify-content: space-between;
  margin: 20px 0 50px 0;
}

form {
  width: 300px;
  margin-top: 30px;
}

fieldset {
  padding: 10px 20px 0 20px;
  margin-bottom: 30px;
}

legend {
  margin-left: 20px;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-bottom: 20px;
}

.input-wrapper label {
  margin-bottom: 10px;
  font-size: 1.2em;
}

.input-wrapper input {
  padding: 5px;
  font-size: 1.2rem;
}

.save-button-container {
  display: flex;
  justify-content: center;
  margin-bottom: 200px;
}

.save-button-container button {
  font-size: 14px;
  padding: 3px 10px;
}

.save-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000000b5;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}

.save-validation {
  z-index: 50;
  position: relative;
  background-color: white;
  border-radius: 3px;
  padding: 10px 20px;
  width: 100%;
  max-width: 300px;
}

.close-modal {
  display: flex;
  background-color: black;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  position: absolute;
  right: -10px;
  top: -10px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.close-modal span {
  padding: 0 0 1px 1px;
}